.career-visit-lifestyle {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .career-visit-lifestyle h2 {
    font-size: 2em;
    font-weight: bold;
  }
  .join-us {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }
  .museum-spring {
    display: flex;
    flex-direction: row;
    margin: 2em 0;
    gap: 2em;
  }
  .lifestyle {
    display: flex;
    flex-direction: row;
    margin: 2em 0;
    gap: 2em;
  }



  .museum-spring {
    display: flex;
    margin: 2em 0;
    gap: 2em;
  }
  .museum{
    flex-grow: 1;
  }
  .spring{
    flex-shrink: 1;
  }
  .lifestyle{
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 2em 0;
    gap: 2em;
  }